.icon-clear { background-image: url('png/clear.png'); background-repeat: no-repeat; }

.icon-cloud { background-image: url('png/cloud.png'); background-repeat: no-repeat; }

.icon-mU_logo { background-image: url('png/mU_logo.png'); background-repeat: no-repeat; }

.icon-moon { background-image: url('png/moon.png'); background-repeat: no-repeat; }

.icon-raabe-akademie { background-image: url('png/raabe-akademie.png'); background-repeat: no-repeat; }

.icon-simple { background-image: url('png/simple.png'); background-repeat: no-repeat; }

.icon-snow { background-image: url('png/snow.png'); background-repeat: no-repeat; }

.icon-sun { background-image: url('png/sun.png'); background-repeat: no-repeat; }

.icon-waterdrop { background-image: url('png/waterdrop.png'); background-repeat: no-repeat; }

