.svg-clear {
	background-position: 0 0;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-cloud {
	background-position: 0 -23px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-moon {
	background-position: 0 -48px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-simple {
	background-position: 0 -68px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-snow {
	background-position: 0 -88px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-sun {
	background-position: 0 -115px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

.svg-waterdrop {
	background-position: 0 -129px;
	background-repeat: no-repeat;
	background-image: url(svg/sprite.svg);
}

